/* 폰트 크기 조절을 위한 CSS 변수 */
:root {
  --font-size-multiplier: 1.0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(16px * var(--font-size-multiplier));
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 폰트 크기 조절이 적용될 요소들 */
h1 {
  font-size: calc(2rem * var(--font-size-multiplier));
}

h2 {
  font-size: calc(1.5rem * var(--font-size-multiplier));
}

h3 {
  font-size: calc(1.25rem * var(--font-size-multiplier));
}

h4 {
  font-size: calc(1.125rem * var(--font-size-multiplier));
}

h5 {
  font-size: calc(1rem * var(--font-size-multiplier));
}

h6 {
  font-size: calc(0.875rem * var(--font-size-multiplier));
}

p {
  font-size: calc(1rem * var(--font-size-multiplier));
}

small {
  font-size: calc(0.875rem * var(--font-size-multiplier));
}

button {
  font-size: calc(1rem * var(--font-size-multiplier));
}

input, select, textarea {
  font-size: calc(1rem * var(--font-size-multiplier));
}
